<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAACrFX2S4IfxKZp1WvwhvHALG4n1fWLxM</string>
	<key>GCM_SENDER_ID</key>
	<string>564546244239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.booking</string>
	<key>PROJECT_ID</key>
	<string>chat-with-admin-fd10f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-with-admin-fd10f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564546244239:ios:fe695e745ba30ffaa42afa</string>
</dict>
</plist>